/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jaini&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Website theme */
:root {
  --primary-background: linear-gradient(-12deg, #bbdefb, #e3f2fd);
  --footer-background: linear-gradient(-12deg, #0d47a13b, #1976d24f, #42a5f536);
  --primary-color: #ffffff;
  --primary-text: #1a1a1a;
  --heading-text: #0d47a1;
  --placeholder-text: #90a4ae;
  --secondary-color: #2196f3;
  --Accent: #ff9800;
  --cta: #0d47a1;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jaini: "jaini", cursive;
  --font-irish: "Irish Grover", cursive
}


/* Global  */

body {
  height: 100%;
  background: var(--primary-background);
  background-repeat: no-repeat;
  color: var(--primary-text);
  font-family: var(--font-poppins);
  overflow-y: auto;
  overflow-x: hidden;
}

header{
  min-height: 2.5em;
}

h1{
  font-family: var(--font-irish);
}


textarea{
  color: black !important;
}

main>h2{
  font-family: var(--font-irish) ;
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

h2 {
  font-size: clamp(20px, 24px, 24px);
}

p {
  font-family: var(--font-roboto);
}
section h2 {
  font-size: 2.5em;
}
input {
  font-family: var(--font-poppins);
}

body::-webkit-scrollbar {
  display: none;
}

#footer::-webkit-scrollbar {
  display: none;
}

button {
  color: var(--cta) !important;
}

button:hover {
  color: var(--Accent) !important;
}

input {
  color: var(--primary-text) !important;
}

/* #searchbar {
  max-width: 115px;
} */

/* Group Selctors */

/* #searchpng img, */
#menubtn img {
  cursor: pointer;
}




h2,
h3 {
  font-family: var(--font-jaini);
}
main,
footer,
main button,
footer button {
  font-family: var(--font-roboto);
}
p,
h1,
h2,
h2 {
  color: var(--heading-text) !important;
}
#content1 a {
  color: var(--heading-text) !important;
}
a:hover,
#content1 a:hover {
  color: var(--Accent) !important;
  text-decoration: underline !important;
  
}
a,
header a:hover {
  text-decoration: none !important;
}
header,
main {
  border: 1px solid gray;
}

#searchbar,
#searchbtn {
  background-color: white;

  height: 30px;
}

#searchbtn:active,
#searchbar:focus,
#searchbar,
#searchbtn {
  border: 2px solid black;
}

#courses-category .card,
body {
  display: flex;
  flex-direction: column;
}

#footer,
.image img,
body {
  width: 100%;
}

.footer-bottom,
.content h2,
#course-category .card {
  text-align: center;
}

footer p,
#courses-category button {
  font-size: 18px;
}

button,
a {
  cursor: pointer;
}

img,
form button {
  border-radius: 10px;
}

form input,
form textarea {
  border-radius: 15px;
  padding-left: 10px;
}

img,
#courses-category button,
form input,
form button,
textarea {
  border-style: none;
}

/* #searchbar, */
form input,
form textarea,
form input::placeholder,
form textarea::placeholder,
#searchbtn {
  color: var(--placeholder-text);
}

/* Header */

header {
  background: var(--footer-background);
  width: -webkit-fill-available;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
}

/* #searchpng {
  display: none;
} */

header a {
  color: var(--primary-text);
}

#searchbtn {
  width: 50px;
}

#searchbar::placeholder {
  color: grey;
}

/* Main page */

main {
  margin-top: 80px;
  background: var(--footer-background);
  color: #212121;
}


main h2 {
  color: rgb(23, 194, 23);
}

#courses-category {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#courses-category .card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}

#courses-category button {
  background-color: whitesmoke;
  height: 40px;
}

.image {
  width: 15em;
  height: 15em;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer {
  background: var(--footer-background);
}

#footer {
  grid-template-columns: repeat(2, 1fr);
  overflow-x: auto;
}

.content h2 {
  margin-bottom: 20px;
}

#socialaccounts a {
  color: var(--heading-text);
}

form button {
  height: 40px;
  width: 60px;
}

form input {
  height: 45px;
}

/* Dashboard page */
.profiles{
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
 
  transition: background-color 0.3s ease;
}

.profiles:hover{
  color: var(--primary-color) !important;
  background: var(--heading-text);
}

.hidden{
  display: none;
}

.course{
  border: none !important;
  border-radius: 5px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.course:hover{
  color: var(--primary-color) !important;
  background: var(--heading-text) !important;
}
